*{ margin: 0; padding: 0;}
ul{ list-style: none;}
a{ text-decoration: none;}

#gnb{ height: 48px; background-color: lavender; 
    width: 1000px; margin: 0 auto;}
#gnb li{ float: left; width:250px; height: 48px; background-color: rebeccapurple; border-radius: 15px;}
#gnb li a{ display: block; width: 100%; height: 100%; color:#fff; font-size: 1.5em; text-align: center; font-weight: bolder; line-height: 48px;}

#lnb{ background: violet; width: 1000px; margin: 0 auto; 
    height: 0; opacity: 0;}
#lnb ul.submenu{ float: left; width: 230px; 
    padding: 20px 0 0 20px;}
#lnb ul.submenu li{ margin-bottom: 10px; height: 0px; line-height: 36px;}
#lnb ul.submenu li a{ display: block; width: 100%; height: 100%;}

#gnb:hover + #lnb{height: 250px; opacity: 1; transition: all 0.3s; }
#gnb:hover + #lnb li{ height: 36px; transition: all 0.3s;}