*{ margin: 0; padding:0;}
ul{ list-style: none;}
a{ text-decoration: none;}

ul.main_menu{ width: 25%; margin: 0 auto;}
ul.main_menu a{ display: block; padding: 10px 20px; box-sizing: border-box; border:solid #ccc; border-width: 2px 0;}
ul.main_menu li{ background-color: lightgray; line-height: 38px; position: relative;}
ul.main_menu>li{ width: 100%; border-radius: 20px; text-align: center; }
ul.main_menu>li:hover{ background-color: yellow;}
ul.main_menu > li > a{ color:#333; background: powderblue;}
ul.main_menu > li:hover > a{ color:#f00;}
ul.main_menu>li>a::after{content: ' ▼';}

ul.sub_menu{ display: none; width: inherit; position: absolute; top: 0; right: -100%;}
ul.sub_menu>li:hover{ background-color: pink;}