*{ margin: 0; padding:0;}
ul{ list-style: none;}
a{ text-decoration: none;}

#tab { width: 960px; margin: 0 auto;}
#tab h1{ text-align: center; padding:30px 0;}
#tab li{ width: 33.333%; height: 48px; text-align: center; float: left; background: #ffe5ff; font-size: 1.5em; line-height: 48px;}
#tab li.on{ background:#99f;}

#tab li a{ display: block; width: 100%; height: 100%; color:#333;}
#tab li.on a{ color: #fff; }

#tab .tab_con{ width: 100%; height: 200px; background: #ccf; clear: both; font-size: 5em; display: none;}

#tab .tab_con.on{ display: block;}