@font-face {
    font-family: '원스토어';
    src: url('../font/ONE\ Mobile\ POP.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: '원스토어';
    src: url('../font/ONE\ Mobile\ POP.eot') format('embedded-opentype'); /* 구버전 IE용*/
    font-weight: bold;
}
@font-face {
    font-family: 'MaruBuri';
    src: url('../font/MaruBuri-Regular.woff');
}
/* reset CSS */
*{ margin: 0; padding:0;}
body,html{font-family: '나눔고딕',sans-serif;}
p{ font-family: 'MaruBuri',serif;}
h1,h2,h3,h4,h5,h6{ font-family: '원스토어',sans-serif;}
ul{ list-style: none;}
a{ text-decoration: none;}

#wrap{ width:390px; margin: 0 auto;}
.center{ width: 95%; margin: 0 auto; background-color: rgba(0,150,255,0.5);}

#header{ height: 200px; background-color: yellow;}