*{margin: 0; padding:0;}
body{color:#222328}
ul{list-style: none;}
a{text-decoration: none;}


#wrap{width:1200px; margin: 0 auto;}

/* A */
#header{ height: 100px; position: relative;}
#header h1.logo{ float: left; padding-top:30px}

#header #gnb{ position: absolute; right: 0; top: 40px; z-index: 999;}
#header #gnb li{ width: 130px; height: 30px; line-height: 30px; text-align: center; }
#header #gnb li a{ display: block; width: 100%; height: 100%; color:#222328;}
#header #gnb li a:hover{ background-color: #9bd8fa; color:#004e8f; font-weight: 900;}
#header #gnb .mainMenu li.mainList{ float: left;}

/* B */
#main_slide{ height: 300px; background: pink; position: relative; overflow: hidden; }

/* C */
#container{ height: 200px; background-color: aqua;}
#container h2{ display: none;}

#container .tab_menu{ width: 600px; height: inherit; background-color: lightblue; float: left;padding:10px 25px; box-sizing: border-box;}
#container .banner{ width: 250px; height: 180px; background-color: skyblue; float: left; padding:10px 25px;}
#container .shortcut{ width: 250px; height: 180px; background-color: rgb(158, 158, 255); float: left; padding:10px 25px;}

/* D */
#footer{ height: 100px; background-color: gray;}
