*{ margin: 0; padding: 0;}
body{ font-family: '나눔바른고딕',sans-serif;}
ul{ list-style: none;}
a{ text-decoration: none;}
img{ max-width:100%;}

#wrap{ width: 100%;}
.center{ width: 1000px; margin: 0 auto; background: rgba(0,0,0,0.3);}

/* 1 */
#wrap #header{ height: 160px; background-color: #ccc;}
#wrap #header .center{ position: relative;}
/* pc,tablet의 내비 */
#wrap #header #gnb{ width: inherit; height: 44px; position: absolute; right: 0; top:110px; background-color: red;}
#wrap #header #gnb li{ float: left;}

/* 모바일 내비 */
#wrap #header #hamberger{ width: 36px; height: 36px; padding:8px 4px 4px; background: yellow; position: absolute; right: 0; top:30px; display: none;}

#wrap #header #hamberger .line{ height: 5px; background: #333; margin-bottom: 8px;}

/* 2 */
#wrap .slide{ height: 600px; background: blue;}

/* 3 */
#wrap .s1{ background: cadetblue; height: 650px; padding-top:50px}
#wrap .s1 a.article{float:left; width: 230px; height: 280px; border:5px solid skyblue; box-sizing: border-box; margin: 10px;}

/* 4 */
#wrap #footer{ height: 110px; background-color: yellow;}