/* reset */
*{ margin: 0; padding: 0;}
ul{ list-style: none;}
a{ text-decoration: none;}

#wrap{ width: 400px; margin: 0 auto; background:skyblue; }
ul.mainMenu > li.mainList a{ display: block;}
ul.mainMenu > li.mainList > a { line-height: 50px; background: blue; color:#fff;}
ul.mainMenu > li.mainList:hover > a{ background: pink; color:#333;}

ul.subMenu{ display: none;}
ul.subMenu a{ line-height: 35px;}
ul.subMenu a:hover{ background: yellow; color:#333; }