* { padding: 0; margin: 0;}



h1 {
    text-align: center;
}


/* 단일탭 구현 시작 */
#singleTab {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
}

#singleTab .button {
    width: 100px;
    font-size: 20px;
    padding: 6px 12px;
    border: 1px solid #aaa;
    border-bottom: none;
}
#tabContents {
    padding: 6px 0;
    border: 1px solid #aaa;
    transform: translateY(-1px); /* 1픽셀 위로 이동하여 탭에 테두리선을 숨겨줌 */
}



#tabContents table {    
    width: 380px;
    border-collapse: collapse;
    margin: 0 10px;
}
#tabContents table th,
#tabContents table td {
    font-size: 14px;
    padding: 4px;
}
#tabContents table tr:nth-child(2n) {   /* table요소의 짝수행에 배경색 설정 */
    background-color: #b0e0e6;
}

#tabContents table th:last-child,
#tabContents table td:last-child {    
    width: 100px;
    text-align: center;
}


/* 내용이 길어지면 말줄임표(...)로 자동표시되는 CSS */
#tabContents table th:first-child,
#tabContents table td:first-child {  
    display: inline-block;   
    /* th, td에 width속성이 적용되지 않을 때 
        display 속성을 추가하여 width를 설정함 */
    width: 240px;
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;

}
/* 단일탭 구현 끝 */