*{ margin: 0; padding:0;}
ul{ list-style: none;}
a{ text-decoration: none;}

#wrap{ width: 80%; margin: 0 auto; padding-top: 10px;}
ul.main_menu li{  height: 48px; line-height: 48px;}
ul.main_menu>li{ float: left; width: 25%; text-align: center; }
ul.main_menu > li > a{display: block; height: inherit; border: 1px solid lightgray; color:#333; border-radius: 20px 20px 0 0;}
ul.main_menu > li:hover > a{  color:#a0a; background-color: pink;}
ul.main_menu>li>a::after{content: ' ▼';}

ul.sub_menu{ display: none; border:1px solid lightgray}
ul.sub_menu>li a{ display: block; color:#333; background-color: lightcyan;}
ul.sub_menu>li a:hover{color:#a0a; background-color: pink;}