/* reset */
*{ margin: 0; padding: 0;}
body{ font-family: '나눔바른고딕','맑은고딕',sans-serif; font-weight: 500;}
ul{ list-style: none;}
a{ text-decoration: none;}

#wrap{ width: 960px; margin: 0 auto; background: yellow;}

/* ㄱ */
#header{ height: 150px; background: tomato; position: relative;}
/* float으로 정렬하기 - memu에 하위메뉴가 없을 경우에
#header h1.logo{ float: left;}
#header #gnb{ float: right;} */
/* position으로 정렬 - menu에 하위 메뉴가 있을 경우 */
#header h1.logo{ position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
#header #gnb{ position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
#header #gnb li{ float: left; font-size: 1.25em; margin-left: 30px;}

/* ㄴ */
.main_image{ height: 400px; background-color: turquoise; position: relative;}
.main_image h2{ background: rgba(0,0,0,0.5); padding: 30px; 
    border-radius: 20px; color:#fff; text-align: center; line-height: 1.6em;
    position: absolute; left:50%; top: 50%; transform: translate(-50%,-50%); }

/* ㄷ */
.contents{ height: 500px; background: violet;}
.contents section{ height: 250px; border-bottom: 1px solid #ccc; 
    box-sizing: border-box; }
.contents section h2{ display: none;}
    /* ㄷ-.s1 */
.contents .s1 article h3{ text-align: center; padding: 15px 0 5px;}
.contents .s1 .notice{ width: 630px; height: inherit; background: lavender; float: left;}
.contents .s1 .partner{width: 300px; height: inherit; background: khaki; float: right;}

/* ㄹ */
#footer{ height: 150px; background: orange ;}