h1 {
    color: #696;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

#printMark:hover {
    font-weight: bold;
    background: #99f;
    color: #fff;
}